@use '../util' as u;

.item {
    display: flex;
    align-items: flex-start;
    gap: u.rem(12);
    height: u.rem(127.6);
    padding: u.rem(14) u.rem(14) u.rem(16) u.rem(14);
    background: var(--itembg);
    border-radius: u.rem(8);
    transition: 0.3s ease;
    overflow: hidden;

    &_enterbox {
        display: flex;
        flex-direction: column;
        gap: u.rem(8);
        width: 100%;
    }

    &_btnbox {
        padding-top: u.rem(8);
        display: flex;
        gap: u.rem(12);
        opacity: 1;
    }

    &_btnbox-open {
        display: flex;
        opacity: 1;
    }
}

//f.rem(127.6)
//u.rem(58.8)