@use '../util' as u;

.project {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: u.rem(24);
    padding: u.rem(20) u.rem(20);
   
    background-color: var(--projectbg);
    //border: 1px solid #81848D;
    //box-shadow: f.rem(1) f.rem(1) f.rem(12) f.rem(2) rgba(0, 0, 0, 0.1);

    border-radius: u.rem(8);
    
    &_topbox {
        display: flex;
        width: 100%;
        gap: u.rem(16);
        padding: 0 u.rem(8);
        //flex-direction: column;
    }

    &_titlebox {
        display: flex;
        flex-grow: 1;
        gap: u.rem(16);
        //justify-content: space-between;
    }

    &_downbox {
        display: flex;
        flex-direction: column;
        gap: u.rem(20);
    }
}