@use '_functions' as f;

.btn {
    font-size: f.rem(20);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text);

    &_addproject {
        padding: f.rem(12) f.rem(16);
        font-size: f.rem(20);
        background-color: var(--default);
        border-radius: f.rem(8);

        color: var(--textHover);
    }

    &_seal {
        padding: 0 f.rem(8);        
    }

    &_seal:hover {
        color: var(--textHover);       
    }

    &_delete {
        top: f.rem(5);
        padding: 0 f.rem(4);;
        font-size: f.rem(20);
        transform:rotate(0);
        transition: .3s ease;
    }

    &_delete:hover  {
        color: var(--textHover);
        transform:rotate(90deg);
    }

    &_priority {
        padding: f.rem(4) f.rem(16);
        color: #fff;
        font-size: f.rem(12);
        border-radius: f.rem(16);
        line-height: 1;
    }

    &_add {
        width: f.rem(36);
        height: f.rem(36);
        margin-left: 45%;
        margin-right: 45%;
        //padding: f.rem(12) f.rem(16);
        font-size: f.rem(20);
        color: aliceblue;
        background-color: var(--default);
        border-radius: f.rem(8);
    }
}

.urgent {
    background-color: var(--urgent);
}

.average {
    background-color: var(--average);
}

.taketourtime {
    background-color: var(--taketourtime);
}

.btn-locking {
    color: rgb(161, 161, 161);
    background-color: #383A3F;
}

//<i class="fa-solid fa-arrow-right-from-bracket"></i>