
:root {
    --bg: #2B2D30;
    --projectbg: #313338;
    --itembg: #404247;

    --enter: #383A3F;

    --default: #5A64EA;
    --urgent: #DF4F49;
    --average: #814ABF;
    --taketourtime: #58B99D;
    --locking: #383A3F;

    --text: #ABAFB3;
    --textHover: #FFFFFF;
    --textLocking: #A1A1A1;
    --remark: #81848D;

    --btn-normal:rgb(0, 208, 255);
    --btn-preseef:#00e2b5;
    --btn-hover:rgb(0, 86, 105);
}